body {
    font-family: Arial, sens-serof, serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

div {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
}